{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Flipmart premium HTML5 & CSS3 Template</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href=" {% static 'css/bootstrap.min.css' %}">

<!-- Customizable CSS -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">  
<link rel="stylesheet" href="{% static 'css/blue.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'css/rateit.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'attribute.js' %}"></script>
<!-- Icons/Glyphs -->
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'attribute.css' %}">
<style>
   .avatar {
   vertical-align: middle;
   width: 40px;
   height: 40px;
   border-radius: 50%;


   }


</style>



<!-- Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled">
         
           <li><a href="{% url 'wishlist' %}"><i class="icon fa fa-heart"></i>Wishlist</a></li>
            <li class="nav-item">


                                {% if request.user.is_authenticated %}
                                <a href="{% url 'cart' %}" class="nav-link">
                                    <i class="fa fa-shopping-cart" style="font-size:24px"></i> Cart
                                    <span class="badge badge-light">{{ request.user}}</span> 
                                    {% else %}
                                    <a href="{% url 'logins' %}" class="nav-link">
                                        <i class="fa fa-shopping-cart" style="font-size:24px"></i> Cart
                                        {% endif %}
                                    </a>

 </li>

           <li><a href="{% url 'register' %}"><i class="icon fa fa-lock"></i>Register</a></li>
            <!-- request.user.is_authenticated-->
           {% if user.id is not None %}
             <li><a href="{% url 'profile' %}"><i class="icon fa fa-user"></i>My profile</a></li>
                    <img src="{{ request.session.userimage }}" class="avatar img-circle img-thumbnail" alt="avatar">
           <li style="color: #ffffff"><a href="{% url 'logout' %}"  >{{ request.user.username }} - Logout</a></li>
           {% else %}
           <li><a href="{% url 'logins' %}"><i class="icon fa fa-lock"></i>Login</a></li>
           {% endif %}
           
            
           
        
          </ul>
        </div>
        <!-- /.cnt-account -->
        
 
        <!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div>
      <!-- /.header-top-inner --> 
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 logo-holder"> 
          <!-- ============================================================= LOGO ============================================================= -->
          <div class="logo"> <a href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" alt="logo"> </a> </div>
          <!-- /.logo --> 
          <!-- ============================================================= LOGO : END ============================================================= --> </div>
        <!-- /.logo-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-7 top-search-holder"> 
          <!-- /.contact-row --> 
          <!-- ============================================================= SEARCH AREA ============================================================= -->

          
          <div class="search-area">
            <form action="" method="GET">
              <div class="control-group">
              
                <input class="search-field" type="text" name="q" class="form-control" value="{{ request.GET.q }}" placeholder="Search here..." />
                
                <button class="search-button" class="btn btn-primary" ></button> 
              </div>
            </form>
          </div>


          


          
          
          <!-- /.search-area --> 
          <!-- ============================================================= SEARCH AREA : END ============================================================= -->
		  </div>
        <!-- /.top-search-holder -->
        
        <div class="col-xs-12 col-sm-12 col-md-2 animate-dropdown top-cart-row"> 
          <!-- ============================================================= SHOPPING CART DROPDOWN ============================================================= -->
          
          <div class="dropdown dropdown-cart"> <a href="#" class="dropdown-toggle lnk-cart" data-toggle="dropdown">
            <div class="items-cart-inner">
              <div class="basket"> <i class="glyphicon glyphicon-shopping-cart"></i> </div>
              <div class="basket-item-count"><span class="count">2</span></div>
              <div class="total-price-basket"> <span class="lbl">cart -</span> <span class="total-price"> <span class="sign">$</span><span class="value">600.00</span> </span> </div>
            </div>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="cart-item product-summary">
                  <div class="row">
                    <div class="col-xs-4">
                      <div class="image"> <a href="detail.html"><img src="{% static 'images/cart.jpg' %}" alt=""></a> </div>
                    </div>
                    <div class="col-xs-7">
                      <h3 class="name"><a href="index.php?page-detail">Simple Product</a></h3>
                      <div class="price">$600.00</div>
                    </div>
                    <div class="col-xs-1 action"> <a href="#"><i class="fa fa-trash"></i></a> </div>
                  </div>
                </div>
                <!-- /.cart-item -->
                <div class="clearfix"></div>
                <hr>
                <div class="clearfix cart-total">
                  <div class="pull-right"> <span class="text">Sub Total :</span><span class='price'>$600.00</span> </div>
                  <div class="clearfix"></div>
                  <a href="checkout.html" class="btn btn-upper btn-primary btn-block m-t-20">Checkout</a> </div>
                <!-- /.cart-total--> 
                
              </li>
            </ul>
            <!-- /.dropdown-menu--> 
          </div>
          <!-- /.dropdown-cart --> 
          
          <!-- ============================================================= SHOPPING CART DROPDOWN : END============================================================= --> </div>
        <!-- /.top-cart-row --> 
      </div>
      <!-- /.row --> 
      
    </div>
    <!-- /.container --> 
    
  </div>
  <!-- /.main-header --> 
  
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown">
    <div class="container">
      <div class="yamm navbar navbar-default" role="navigation">
        <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="active dropdown yamm-fw"> <a href="{% url 'index' %}">Home</a> </li>

                {% for t in query %}
                <li><a href="{% url 'category' name=t.name %}">{{ t.name }}</a></li>
               {% endfor %}
               
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>